body,
button,
input,
label,
select,
textarea {
  font-family: "Open Sans", sans-serif;
}

.App {
  font-family: "Open Sans", sans-serif;
  margin-top: 4.5rem;
  margin-left: 20%;
  margin-right: 20%;
}

.sidebar-right {
  top: 4.5rem;
  left: 80%;
  border-left: 1px solid #f1f3f5;
  min-height: 100vh;
  position: fixed;
  display: inline-block;
  vertical-align: top;
  max-height: 100vh;
  bottom: 0;
  padding: 0;
  width: 20%;
}

.toolbar-top {
  display: none;
}

.expandable {
  display: none;
}

.delete-expense,
.edit-expense {
  cursor: pointer;
}

.floating-plus {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #ff4238;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 3px #999;
}

@media screen and (max-width: 750px) {
  .App {
    margin: 4.5rem 0 0 0;
  }

  .sidebar-right {
    display: none;
  }

  .toolbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .expandable.expanded {
    display: block;
  }
}
